/.fabric
/.history
/.vscode
/data
/downloads
/itemscroller
/local
/logs
/patchouli_books
/presencefootsteps
/replay_recordings
/replay_videos
/resourcepacks
/saves
/schematics
/shaderpacks
/XaeroWorldMap

emi.json
export.log
irisUpdateInfo.json
minecraftinstance.json
options.txt
patchouli_data.json
rhino.local.properties
usercache.json

.curseclient
